

 .subscribe nav li{
    font-weight: 500;
        font-size: .8rem;
        line-height: 120%;
        color: var(--primary-gray-80);
 }

.footer-logo{
    width: 200px;
    /* width: auto; */
}

.subscribe .nav-item{
    max-width: 500px ;
}

.icon-footer{
    width: 40px !important;
}