.home{
    /* width: 80vw; */
    min-height: 80vh ;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 0 auto ;
   

}

.title{
    font-size: 1.7rem;
line-height: 150% !important;




}
.title-text{
    flex-basis: 60%;
}
.title-image{
flex-basis: 40%;
}
.normal-text-home{
    font-size: .8rem !important;
        font-weight: 400 !important;
        color: var(--primary-gray-90) !important;
    
}

.black-text{
    color: var(--primary-black);
    
}

.orange-text {
    color: var(--primary-orange);
}

.grey-text {
    color: var(--primary-gray-80);
}

.home button{
    font-size: .8rem;
}