.navbar,.navbar-brand {
padding-top: 0 !important;
padding-bottom: 0 !important;

}
.container{
    max-width: 80vw;
}

.navbar-brand img{
    width: 100px;
}
.navbar-nav li{
    cursor: pointer;
    
}


.nav-link{
        font-family: 'Montserrat', sans-serif;
            font-size: .9rem !important;
            font-weight: 500 !important;
                line-height: 120% !important;
                color: var(--primary-gray-80) !important;
}

.nav-link:hover {
    color: var(--primary-orange);
  
}


